[submodule "themes/Shapez-Theme"]
	path = themes/Shapez-Theme
	url = https://github.com/djuelg/Shapez-Theme.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:hhintow/hhintow.github.io.git
	branch = master
